/* /////////////////////////////////////// General styles */
body {
  background: #ffffff;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.Planner {
  animation: fade-in 1s;
}

.Planner_header {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background: linear-gradient(180deg, #67d5b1 0%, #38d4a1 100%);
  display: flex;
  padding: 27px 0px 28px 0px;
  justify-content: center;
}

.Planner_header-title {
  color: #fff;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -0.8px;
}

.Planner_body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.Planner_footer {
  display: flex;
  justify-content: center;
  padding: 20px 0px 20px 0px;
}