/* App.css */
body {
  background: #666565
}

/* Main planner styles */
.Planner {
  background: #FFF;
}

/* Header styles */
.Planner_header {
  /* Your styles here */
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  background: linear-gradient(180deg, #67D5B1 0%, #38D4A1 100%);
  display: flex;
  height: 144px;
  padding: 47px 0px 48px 0px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.Planner_header-title {
  /* Your styles here */
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.8px;
}

.Planner_body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.Planner_body-month {
  width: 1145px;
  margin-left: 47px;
  margin-right: 47px;
  border-spacing: 0cap;
  border-collapse: collapse;
  align-self: flex-start;
}

thead {
  border-bottom: 1px solid #D9D9D9;
  padding-left: 47px;
  padding-right: 47px;
}


thead>tr>th {
  height: 88px;
  justify-content: center;
  padding: 0px 42px;
  color: #666;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.36px;
}

tbody {
  padding-left: 47px;
  padding-right: 47px;
}

/* add tr */
tbody>tr>td {
  border: 0.8px solid #E6E6E6;
  width: 150px;
  height: 150px;
}

.day_cell {
  background: #FAFAFA;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.day_cell_current {
  background: #e4e3e3;
  height: 100%;
  display: flex;
  flex-direction: column;
}


.day_cell>.header {
  display: flex;
  justify-content: space-between;
  margin: 9px 10px 9px 16px;
  color: #080808;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: -0.48px;
}
.day_cell>.header_weekend {
  color: #66666680;
}
.day_cell>.header>button {
  display: flex;
  flex-direction: row-reverse;
  border: none;
  background-color: transparent;
  padding: 0;
}

.events {
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  color: #666;
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: -0.2px;
}

.Planner_body-monthly_planner {
  margin-left: 5px;
  margin-top: 18px;
  margin-bottom: 0px;
  width: 662px;
  background: #FAFAFA;
  padding: 16px;
  border-radius: 20px;
}

.card {
  display: flex;
  /* align-items: center; */
  margin-bottom: 16px;
  width: 100%;
  border-radius: 12px;
  border: 1px solid #E5E5E5;
  background: #FFF;
}
.card:last-child {
margin-bottom: 0px;
}

.current_week,
.current_day {
  width: 100px;
  height: 100px;
  flex-shrink: 0;
  margin: 37px 32px 37px 16px;

  border-radius: 24px;
  border: 2px solid #E6E6E6;
}

.month {
  padding: 8px 28px;
  background: linear-gradient(180deg, #FF7437 0%, #DC4F11 97.58%);
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.36px;
}

.days {
  margin: 12px 0px;
  color: #323232;
  text-align: center;
  font-family: Montserrat;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.write-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 16px;
  width: 100%;
}

.write-item > textarea {
  margin-top: 16px;
  margin-bottom: 16px;
  /* height: 100%; */
  width: 100%;
  border-radius: 5px;
  background-color: #f8f8f8;
  border-color: #E6E6E6;
  padding: 5px;
}

.mobile-only{
  display: none;
}

@media (max-width: 1145px) {
  .mobile-only {
  display: block;
  margin-left: 16px;
  background-color: transparent;
  color: #000000;
  font-size: 24px;
  border-radius: 5px;
  height: 100px;
  width: 48px;
}
}

.mobile-only:active{
  background-color: #919090;
}

.planned-items{
  margin-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}

.item {
  display: flex;
  align-items: center;
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 4px;
  height: 24px;
}

.item>.checkbox {
  background-color: transparent;
  width: 24px;
  height: 24px;
  cursor: pointer;
  border: 3px solid #323232;
  border-radius: 20%;
}

.item>.checked {
  background-color: #5c5b5b;
  border-color: #5c5b5b;
}

.item>.checkbox:hover {
  background-color: #323232;
}

.item>.checkbox:active{
  background-color: #5c5b5b;
  border-color: #5c5b5b;
}

.item>span {
  margin-left: 8px;
  color: #666666B2;
}

.item>p {
  margin-left: 8px;
}

.item>.created{
  margin-left: auto;
}

.card>.icon {
  display: flex;
  justify-content: center; /* Центрування по горизонталі */
  align-items: center;
  width: 100px;
  height: 100px;
  flex-shrink: 0;
  margin: 37px 32px 37px 16px;

  border-radius: 24px;
  border: 2px solid #5c5b5b;
  background: #c5c4c4;
}